<!DOCTYPE html>
<html xmlns:font-family="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:action="@{/form-handler}" method="get">

    <label> Name:
        <input type="text" name="name">
    </label>
    <br>
    <label> Sex:
        <input type="text" name="sex">
    </label>
    <br>
    <label> Age:
        <input type="text" name="age">
    </label>
    <br>
    <button type="submit"> Send</button>
</form>

<br>
<br>

<form th:action="@{/form-handler-post}" method="post" th:object="${person}">

    <label> Name:
        <input type="text" name="name">
    </label>
    <br>
    <label> Sex:
        <input list="sexList" type="text" name="sex" placeholder="choose a gender">
    <datalist id="sexList">
        <option value="male"/> </option>
        <option value="female"> </option>
    </datalist>
    </label>
    <br>
    <label> Age:
        <input type="text" name="age">
    </label>
    <br>
    <button type="submit"> Send</button>
</form>

</body>

</html>