<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
</head>
<body>

        <div class="d-flex flex-column min-vh-100 justify-content-center align-items-center">
            <form method="post"  th:action="@{/employees/avg}">
                <div>
                    <button type="submit" class="btn btn-primary">Av.Salary</button>
                </div>
            </form>
            <form method="post" th:action="@{/employees/max}">
                <div>
                    <button type="submit" class="btn btn-secondary">Max</button>
                </div>
            </form>
            <form method="post" th:action="@{/employees/min}">
                <div>
                    <button type="submit" class="btn btn-success">Min</button>
                </div>
            </form>
            <form method="post" th:action="@{/employees/sum}">
                <div>
                    <button type="submit" class="btn btn-danger">Sum</button>
                </div>
            </form>
        </div>

</body>

